.main {
  display: flex;
}

.sidebar {
  background-color: grey;
  width: 20%;
  height: 100vh;
}

.navMap {
  width: 80%;
  height: 94vh;
}

.navbar {
  background-color: grey;
  height: 6vh;
}

.map {
  position:relative;
  background-color: pink;
  width: 100%;
  height: 100%;
}

.filter {
  margin-top: 3%;
  margin-left: 5%;
}

.venueList {
  list-style-type: none;
  color: white;
  line-height: 3;
}

h1 {
  margin-left: 6%;
  color: white;
}
